<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
	<Colors>
		<BackgroundColor>#FFFFFF</BackgroundColor>
		<TextColor>#000000</TextColor>
		<AccentColor>#FFA500</AccentColor>
	</Colors>

	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
  <ClassLibrary.Properties.Settings>
   <setting name="BackgroundColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="ForegroundColor" serializeAs="String">
    <value>Black</value>
   </setting>
  </ClassLibrary.Properties.Settings>
 </applicationSettings>
 <userSettings>
  <ClassLibrary.Properties.Settings>
   <setting name="ConnectionString" serializeAs="String">
    <value>Data Source=localhost;Integrated Security=True;TrustServerCertificate=True</value>
   </setting>
   <setting name="KiddEsportsConnection" serializeAs="String">
    <value>Data Source=localhost;Integrated Security=True;TrustServerCertificate=True</value>
   </setting>
  </ClassLibrary.Properties.Settings>
 </userSettings>
</configuration>
