<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        
    </configSections>
    <connectionStrings />
    <startup>
		<Colors>
			<BackgroundColor>#FFFFFF</BackgroundColor>
			<TextColor>#000000</TextColor>
			<AccentColor>#FFA500</AccentColor>
		</Colors>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    
</configuration>
